
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Davelopa/</p>
    <p>© <script>document.write(new Date().getFullYear())</script></p>
  </div>
</div>
</body>
</html>
